name: Build & Release

on:
  push:
    branches: [ "main" ]

permissions:
  contents: write

jobs:
  build-release:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 7.0.x
    - name: Clean
      run: dotnet clean -c Debug
    - name: Build
      run: dotnet build -c Debug /p:InformationalVersion=${{ github.run_number }}
    - name: Package
      run: Compress-Archive -Path bin\Debug\net7.0-windows\* -DestinationPath ModHearth-win-x64.zip
    - name: Create release
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        tag: build-${{ github.run_number }}
        release_name: Build ${{ github.run_number }}
        body: ${{ github.sha }}
        file: ModHearth-win-x64.zip
        overwrite: true
